*{
    margin:0;
}
.container{
    width:35%;
    margin: 10vh auto;
    background-color:black;
    border-radius:4px;
}

.display{
    width:100%;
    height:10vh;
    position: relative;
}

.display p{
    color:white;
    font-size:32px;
    position:absolute;
    bottom:5%;
    right:5%;
}

.buttons{
    display:flex;
    gap:10%;
    flex-wrap: wrap;
    border-top: 1px solid white;
}

.button{
    flex: 1 0 15%;
    font-size: 24px;
    height:10vh;
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
}

.empty{
    flex: 1 0 15%;
    height: 10vh;
}

.operator, .special{
    color:rgb(255, 103, 0);
}

.button:hover{
    cursor: pointer;
}